---
layout: main.liquid
title: projects
eleventyNavigation:
  key: projects
  order: 9
---

<h1>{{title}}</h1>
<p>A selected list of projects.</p>

<ol>
	<li>
		<div><h4>A scaleable, proactive research system (Honeycomb, 2024-2025)</h4></div>
		<div>
			<p>Thoughtfully applying LLMs to scale best practices and provide high quality insights at the point of curiousity, with only one researcher.</p><p><em>full case study coming soon</em></p>
		</div>
	</li>
	<li>
		<div><h4>Investigation workflow discovery (Honeycomb, 2023)</h4></div>
		<div>
			<p>How we untanged the software engineering journery from "that doesn't seem right" to "I know what's going on", and built key features to make that journey faster.</p>
			<p><em>full case study coming soon</em></p>
		</div>
	</li>
	<li>
		<div><h4>Building a research practice with personas (Asurion, 2018)</h4></div>
		<div>
			<p>Started with the question "who are we building for?", ended up with a deck of quantitatively validated personas, a bunch more questions, and an entire research team.</p>
		<p><em>full case study coming soon</em></p>
		</div>
	</li>
</ol>
