---
layout: main.liquid
title: words
eleventyNavigation:
  key: words
  order: 3
---

<h1>{{title}}</h1>
<p>I am, from time to time, known to post.</p>

{% render "list-o-posts.liquid", postlist: collections.words %}
