---
layout: main.liquid
title: words
eleventyNavigation:
  parent: /  
  key: words
---

<h1>{{title}}</h1>
<p>like all good internet citizens, I am known to post.</p>

{% render "list-o-posts.liquid", postlist: collections.words %}