<div class="banner--under-construction">
	⚠️ pardon the dust, this site is under construction ⚠️
</div>


<style>
	.banner--under-construction{
		margin: 3em 0;
		/* margin: 3em; */
		font-size: 1em;	
		padding: 1em;
		text-align: center;
		vertical-align: middle;
		/* background-color: #f66;
		border: .25em dashed #ff4; */
		/* background-color: #ff7; */
		background-color: #FFED6D;
		/* font-weight: bold; */
		/* font-family: sans-serif; */
		border-radius: .5em;
	}
</style>