/* header ul.navigation{display: inline; display: inline;} */
/* header ul.navigation li{display: inline-block; float: none; font-style: italic; margin-right: 2em;} */
/* header ul.navigation li.navigation--item__current{font-weight: bold;} */
@font-face {
	font-family: IBM-Plex-Mono;
	src: url("/fonts/IBMPlexMono-Text.woff2") format("woff2");
}
@font-face {
	font-family: IBM-Plex-Mono;
	src: url("/fonts/IBMPlexMono-TextItalic.woff2") format("woff2");
	font-style: italic;
}
@font-face {
	font-family: IBM-Plex-Mono;
	src: url("/fonts/IBMPlexMono-Bold.woff2") format("woff2");
	font-weight: bold;
}
@font-face {
	font-family: IBM-Plex-Mono;
	src: url("/fonts/IBMPlexMono-BoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
}

body {
	max-width: 80vw;
	margin: 0 auto;
	font-family: IBM-Plex-Mono;
	font-size: 0.85em;
}

ul.navigation {
	margin-bottom: 1em;
}

.callout {
	font-style: italic;
	background: #eaeaea;
	border-radius: 0.5em;
	padding: 0.5em 0.75em;
	margin: 0 -0.5em;
}

main {
	margin-top: 2em;
}

.book--grid {
	width: 12em;
	/* border: 1px dashed black; */
	display: inline-block;
	text-align: center;
	list-style-type: none;
	margin: 0.5em;
	padding: 0.5em;
	border-radius: 0.5em;
}
.book--grid:hover {
	background-color: #eaeaea;
}
.book--grid img {
	border-top: 0.15em solid rgba(0, 0, 0, 0);
	border-left: 0.15em solid rgba(0, 0, 0, 0);
	border-bottom: 0.35em solid rgba(0, 0, 0, 0);
	border-right: 0.35em solid rgba(0, 0, 0, 0);
	width: 95%;
}
.book--grid:hover img {
	border-color: rgba(0, 0, 0, 0.5);
}

.book--grid__inner {
}

article.book {
}

article.book header {
	display: flex;
}
article.book header .meta {
	order: 2;
}
article.book header .cover {
}
article.book .cover img {
	width: 15em;
	padding-right: 1em;
}

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
		monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2e3440;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #636f88;
}

.token.punctuation {
	color: #81a1c1;
}

.namespace {
	opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #81a1c1;
}

.token.number {
	color: #b48ead;
}

.token.boolean {
	color: #81a1c1;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a3be8c;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #81a1c1;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #88c0d0;
}

.token.keyword {
	color: #81a1c1;
}

.token.regex,
.token.important {
	color: #ebcb8b;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

article.guide code {
	font-size: 0.85rem;
	/* border: 1px solid lightslategray; */
	/* background-color: lightslategray; */
	border-radius: 0.35em;
	color: white;
	padding: 0.5em;
}

article.guide pre code {
	display: block;
}

article.guide p code {
	border: 1px solid white;
	padding: 0 0.1em;
	margin: 0 -0.1em 0 -0.2em;
	display: inline;
	background-color: #2e3440;
}

article.guide pre + pre {
	margin-top: -3.5em;
}

article.guide pre code:hover {
	/* background-color: #636f88; */
}

article.guide pre code:hover::before {
	content: "[copy]";
	display: block;
	/* width: 1em; */
	/* height: 1em; */
	float: right;
	font-size: 0.85em;
}
