* {
	--background: #fff;
	--background-accent: #2e3440;
	--bloo: #0074d9;
	--yelo: #ffed6d;

	--light-text: #aaa;
	--dark-text: #111;
	--bloo-text: var(--bloo);
	--yelo-text: var(--yelo);

	--text-onyelo: var(--dark-text);
	--text-onbloo: #fff;
	--text-onaccent: #fff;

	--code-text--fontstack: IBM-Plex-Mono, monospace;

	@media (prefers-color-scheme: dark) {
		--background: #292934;
		/*--bloo-text: color-mix(in srgb, var(--bloo), transparent 0%);*/
		--bloo-text: hsl(from var(--bloo) h s calc(l + 8));
		--yelo: #ffed6d;

		--light-text: #aaa;
		--dark-text: #fff;
		--text-onyelo: var(--background);
	}
}

:root ::selection {
	background-color: var(--yelo);
}

@media (prefers-color-scheme: dark) {
	a::selection {
		color: hsl(from var(--bloo-text) h s calc(l - 15));
	}
	h1,
	h2,
	h3,
	h4 {
		&::selection {
			color: hsl(from var(--bloo-text) h s calc(l - 15));
		}
	}
}

@keyframes skewww {
	0% {
		/*transform: skew(0deg, 0deg);*/
	}
	25% {
		transform: skew(-8deg, -8deg);
	}
	85% {
		transform: skew(5deg, 5deg);
	}
	/*100% {
		transform: skew(0deg, 0deg);
	}*/
}

@font-face {
	font-family: IBM-Plex-Mono;
	src: url("/fonts/IBMPlexMono-Text.woff2") format("woff2");
}
@font-face {
	font-family: IBM-Plex-Mono;
	src: url("/fonts/IBMPlexMono-TextItalic.woff2") format("woff2");
	font-style: italic;
}
@font-face {
	font-family: IBM-Plex-Mono;
	src: url("/fonts/IBMPlexMono-Bold.woff2") format("woff2");
	font-weight: bold;
}
@font-face {
	font-family: IBM-Plex-Mono;
	src: url("/fonts/IBMPlexMono-BoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: Young-Serif;
	src: url("/fonts/YoungSerif-Regular.woff2") format("woff2");
}

:root {
	background-color: var(--background);
	color: var(--dark-text);
	font-family: IBM-Plex-Mono, monospace;
	font-size: 0.85em;
	@media screen and (width >= 120em) {
		/* 120em ≈ 1920px*/
		font-size: 1em;
	}
}

body {
	width: 80vw;
	max-width: 60em;
	margin: 0 auto;
}

a {
	color: var(--bloo-text);
}

a:hover {
	display: inline-block;
	animation-name: skewww;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-duration: 1.5s;
}

ul.navigation {
	margin-bottom: 1em;
}

main {
	margin-top: 2em;
}

h1,
h2,
h3,
h4 {
	font-family: Young-Serif, Georgia, "Times New Roman", Times, serif;
	margin-bottom: 0;
	padding-bottom: 0;
	color: var(--bloo-text);
	+ p,
	+ div {
		margin-top: 0;
	}
}

mark {
	background-color: var(--yelo);
	color: var(--text-onyelo);
}

.callout {
	font-style: italic;
	background: #eaeaea;
	border-radius: 0.5em;
	padding: 0.5em 0.75em;
	margin: 0 -0.5em;
}

.book--grid {
	width: 12em;
	/* border: 1px dashed black; */
	display: inline-block;
	text-align: center;
	list-style-type: none;
	margin: 0.5em;
	padding: 0.5em;
	border-radius: 0.5em;
}
.book--grid:hover {
	background-color: #eaeaea;
}
.book--grid img {
	border-top: 0.15em solid rgba(0, 0, 0, 0);
	border-left: 0.15em solid rgba(0, 0, 0, 0);
	border-bottom: 0.35em solid rgba(0, 0, 0, 0);
	border-right: 0.35em solid rgba(0, 0, 0, 0);
	width: 95%;
}
.book--grid:hover img {
	border-color: rgba(0, 0, 0, 0.5);
}

.book--grid__inner {
}

article.book {
}

article.book header {
	display: flex;
}
article.book header .meta {
	order: 2;
}
article.book header .cover {
}
article.book .cover img {
	width: 15em;
	padding-right: 1em;
}

/* code blocks */
code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	font-family: var(--code-text--fontstack);
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: var(--background-accent);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #636f88;
}

.token.punctuation {
	color: #81a1c1;
}

.namespace {
	opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #81a1c1;
}

.token.number {
	color: #b48ead;
}

.token.boolean {
	color: #81a1c1;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a3be8c;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #81a1c1;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #88c0d0;
}

.token.keyword {
	color: #81a1c1;
}

.token.regex,
.token.important {
	color: #ebcb8b;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

article.guide code {
	font-size: 0.85rem;
	/* border: 1px solid lightslategray; */
	/* background-color: lightslategray; */
	border-radius: 0.35em;
	color: white;
	padding: 0.5em;
}

article.guide pre code {
	display: block;
}

article.guide p code {
	border: 1px solid white;
	padding: 0 0.1em;
	margin: 0 -0.1em 0 -0.2em;
	display: inline;
	background-color: var(--background-accent);
}

article.guide pre + pre {
	margin-top: -3.5em;
}

article.guide pre code:hover {
	/* background-color: #636f88; */
}

/* article.guide pre code:hover::before {
	content: "[copy]";
	display: block;
	float: right;
	font-size: 0.85em;
} */

table {
	border-collapse: collapse;
}

table thead {
	background: var(--background-accent);
	color: white;
}

table tr {
	/**/
}

table td,
table th {
	padding: 0.4em 0.8em;
}

table tr:nth-child(even) {
	background-color: aliceblue;
}

.instructionsFor--agents {
	display: inline-block;
	height: auto;
	color: var(--light-text);
	/*background-color: var(--blargh);*/
}

.instructionsFor--agents::before {
	content: "🤖👉";
	display: block;
	float: left;
	/*background-color: blue;*/
	height: auto;
	contain: true;
	margin-top: -0.2em;
	text-align: left top;
}
.instructionsFor--agents a {
	color: var(--light-text);
}

.banner--under-construction {
	margin: 3em 0;
	/* margin: 3em; */
	font-size: 1em;
	padding: 1em;
	text-align: center;
	vertical-align: middle;
	/* background-color: #f66;
		border: .25em dashed #ff4; */
	/* background-color: #ff7; */
	background-color: var(--yelo);
	color: var(--text-onyelo);
	/* font-weight: bold; */
	/* font-family: sans-serif; */
	border-radius: 0.5em;
}

/* header ul.navigation{display: inline; display: inline;} */
/* header ul.navigation li{display: inline-block; float: none; font-style: italic; margin-right: 2em;} */
/* header ul.navigation li.navigation--item__current{font-weight: bold;} */

.project--list {
}
