<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
</head>
<body>
	<ul>
	{% for navItem in collections.all | eleventyNavigation %}
		<li>
		<a href="{{navItem.url}}">{{navItem.url}}</a> {% if navItem.url == page.url %} ← {% endif %}
		</li>
	{% endfor %}
	</ul>

	{{ content }}
</body>
</html>